*{
    margin:0;
    padding:0;
    text-align: center;
}
h1{
    color:white;
    background-color:purple;
    height:5rem;
    line-height:5rem;
}
.choice{
    height:250px;
    width:250px;
}
.choice:hover{
    opacity:0.5;
    cursor:pointer
}
img{
    object-fit:cover;
    border-radius:50%;
}
.choices{
    display:flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    
}
.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap:5rem;
}
.message{
    font-size: 2rem;
    margin-top: 2rem;
}
#msg{
    background-color: #081b31;
    display:inline;
    color:aliceblue;
    padding:1rem;
    border-radius:1rem;
}